# Ignorar arquivos temporários do Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/

# Ignorar arquivos de ambiente virtual
venv/
.env/

venv_pools/